<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/Linearicons/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/select2/css/select2.min.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/jquery.bxslider/jquery.bxslider.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/owl.carousel/owl.carousel.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/fancyBox/jquery.fancybox.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/css/animate.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/css/index8.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/css/quick-view.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/css/responsive8.css" />

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/fantasysportssite/css/index.css') }}" />

        <title>Fantasy Sports - Villano Chelero</title>
    </head>
    <body class="home watches-home head-vertical">
        <span class="toggle-header fa fa-exchange"></span>
        <div class="container-fluid">
            <div id="left-vertical" class="left-content">
                <!-- HEADER -->
                <div id="header" class="header">
                    <div class="header-top" style="">
                        <div class="login-register">
                            <div class="user">
                                <ul class="top-link">
                                    <li><a style="border-left:none;" href="{{ path('fantasy_sports_admin_dashboard') }}">Login</a></li>
                                    <li><a href="{{ path('fantasy_sports_admin_dashboard') }}">Regístrate</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/.top-header -->
                    <!-- MAIN HEADER -->
                    <div class="main-header" style="">
                        <div class="logo">
                            <a href="{{ path('fantasy_sports_site_homepage') }}">
                                <img src="https://s3.amazonaws.com/fantasysports.mx/admin-assets/images/logo_villano.jpg" />
                            </a>
                        </div>
                    </div>
                    <!-- END MANIN HEADER -->
                    {{ include('::Site/Includes/menu.html.twig') }}
                </div>
                <!-- end header -->
            </div>

            <div class="right-content">
                {{ include('::Site/Includes/slider.html.twig') }}

                {{ include('::Site/Includes/events.html.twig') }}

                <div class="margin-page">

                    {{ include('::Site/includes/newsletter.html.twig') }}

                    {{ include('::Site/includes/news.html.twig') }}
                </div>

                {{ include('::Site/includes/footer.html.twig') }}
            </div>
            <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
        </div>
        <!-- Script-->
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/jquery/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/select2/js/select2.min.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/owl.carousel/owl.carousel.min.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/jquery.countdown/jquery.countdown.min.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/fancyBox/jquery.fancybox.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/jquery.elevatezoom.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/js/theme-script.js"></script>

        {% if app.environment != 'dev' %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-51385617-1', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}

        <div id="fb-root"></div>
    </body>
</html>