{% extends '::Admin/base.html.twig' %}

{% set pageTitle = 'Eventos' %}
{% set pageDescription = 'Todos las eventos' %}

{% block breadcrumbs %}
    <li>
        <i class="icon-home"></i>El Villano Chelero
        <span class="divider">&raquo;</span>
    </li>
    <li>
        <a href="{{ path('fantasy_sports_admin_pass_list') }}">Eventos</a>
    </li>
{% endblock %}

{% block body %}
    <div class="row-fluid">

        <div class="span12 widget">
            <div class="widget-header">
                <span class="title">Eventos</span>
            </div>
            <div class="widget-content table-container">
                <table id="pass-tables" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Fecha del evento</th>
                        <th>Activo</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if events is defined %}
                        {% for event in events %}
                            <tr>
                                <td>{{ event.id }}</td>
                                <td style="text-align: center;"><img src="{{ event.image }}" style="max-height:150px;" /></td>
                                <td>{{ event.name }}</td>
                                <td>{{ event.description }}</td>
                                <td>{{ event.eventDate|date('d-m-Y @ H:i') }}</td>
                                <td>
                                    {% if event.active == 1 %}
                                        <span class="label label-success">Publicado</span>
                                    {% else %}
                                        <span class="label label-improtant">No publicado</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            if($.fn.dataTable) {
                $('table#pass-tables').dataTable();
            }
        });
    </script>
{% endblock %}