{% extends '::Admin/base.html.twig' %}

{% set pageTitle = 'Noticias' %}
{% set pageDescription = 'Todos las noticias' %}

{% block breadcrumbs %}
    <li>
        <i class="icon-home"></i>El Villano Chelero
        <span class="divider">&raquo;</span>
    </li>
    <li>
        <a href="{{ path('fantasy_sports_admin_pass_list') }}">Noticias</a>
    </li>
{% endblock %}

{% block body %}
    <div class="row-fluid">

        <div class="span12 widget">
            <div class="widget-header">
                <span class="title">Noticias</span>
            </div>
            <div class="widget-content table-container">
                <table id="pass-tables" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imagen</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Cuerpo</th>
                        <th>Publicada</th>
                        <th>Fecha de noticia</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if news is defined %}
                        {% for noticia in news %}
                            <tr>
                                <td>{{ noticia.id }}</td>
                                <td style="text-align: center;"><img src="{{ noticia.image }}" style="max-height:150px;" /></td>
                                <td>{{ noticia.title }}</td>
                                <td>{{ noticia.description }}</td>
                                <td>{{ noticia.body }}</td>
                                <td>
                                    {% if noticia.published == 1 %}
                                        <span class="label label-success">Publicada</span>
                                    {% else %}
                                        <span class="label label-success">No publicada</span>
                                    {% endif %}
                                </td>
                                <td>{{ noticia.newsDate|date('d-m-Y @ H:i') }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            if($.fn.dataTable) {
                $('table#pass-tables').dataTable();
            }
        });
    </script>
{% endblock %}