{% extends '::Admin/base.html.twig' %}

{% set pageTitle = 'Transacciones' %}
{% set pageDescription = 'Todos las transacciones' %}

{% block breadcrumbs %}
    <li>
        <i class="icon-home"></i>El Villano Chelero
        <span class="divider">&raquo;</span>
    </li>
    <li>
        <a href="{{ path('fantasy_sports_admin_pass_list') }}">Transacciones</a>
    </li>
{% endblock %}

{% block body %}
    <div class="row-fluid">

        <div class="span12 widget">
            <div class="widget-header">
                <span class="title">Transacciones</span>
            </div>
            <div class="widget-content table-container">
                <table id="pass-tables" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Monto</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if transactions is defined %}
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.id }}</td>
                                <td>
                                    {% if transaction.amount < 0 %}
                                        <p class="text-error">
                                    {% else %}
                                        <p class="text-success">+
                                    {% endif %}
                                        {{ transaction.amount }} Punto(s)
                                    </p>
                                </td>
                                <td>{{ transaction.user.username }}</td>
                                <td>{{ transaction.createdAt|date('l, d M Y @ H:i') }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            if($.fn.dataTable) {
                $('table#pass-tables').dataTable();
            }
        });
    </script>
{% endblock %}