<header id="header" class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand-wrap pull-left">
                <div class="brand-img">
                    <a class="brand" href="{{ path('fantasy_sports_admin_dashboard') }}">
                        <img src="https://s3.amazonaws.com/fantasysports.mx/admin-assets/images/logo_villano.jpg" alt="" style="width: 40px; height: 40px;">
                        &nbsp;El Villano Chelero
                    </a>
                </div>
            </div>

            <div id="header-right" class="clearfix">
                <div id="dropdown-lists">
                    <div class="item-wrap">
                        <a class="item" href="#" data-toggle="dropdown">
                            <span class="item-icon"><i class="icon-shopping-cart"></i></span>
                            <span class="item-label">Puntos</span>
                            <span class="item-count">
                                {% if userPoints is defined %}
                                    {{ userPoints|number_format(0, '.', ',') }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </a>
                    </div>
                </div>

                <div id="header-functions" class="pull-right">
                    <div id="user-info" class="clearfix">
                        <span class="info">
                            Bienvenido
                            <span class="name">{{ app.user.username }}</span>
                        </span>

                        <div class="avatar">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <img src="https://s3.amazonaws.com/fantasysports.mx/admin-assets/images/pp.jpg" alt="Avatar">
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <!--li><a href="#"><i class="icol-user"></i> Mi Perfil</a></li-->
                                <li><a href="{{ path('fantasy_sports_admin_pass_list') }}"><i class="icol-layout"></i> Mis pases</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="icol-key"></i> Salir</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="logout-ribbon">
                        <a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>