{% set passRoutes = ['fantasy_sports_admin_pass_list',
    'fantasy_sports_admin_pass_add',
    'fantasy_sports_admin_pass_active',
    'fantasy_sports_admin_pass_won',
    'fantasy_sports_admin_pass_lost'] %}
{% set dashboardRoutes = ['fantasy_sports_admin_dashboard',
    'fantasy_sports_ranking_week',
    'fantasy_sports_ranking_general'] %}
{% set inviteRoutes = ['fantasy_sports_admin_transaction_invite',
    'fantasy_sports_admin_transaction_invite_list'] %}
{% set userRoutes = ['fantasy_sports_admin_user_list'] %}
{% set newsRoutes = ['fantasy_sports_admin_news_list'] %}
{% set eventRoutes = ['fantasy_sports_admin_event_list'] %}
{% set transaciontRoutes = ['fantasy_sports_admin_transaction_list',
    'fantasy_sports_admin_coupon'] %}
<aside id="sidebar">
    <nav id="navigation" class="collapse">
        <ul>
            <li class="{% if app.request.attributes.get('_route') in dashboardRoutes %}active open{% endif %}">
                <span title="General">
                    <i class="icon-home"></i>
                    <span class="nav-title">General</span>
                </span>

                <ul class="inner-nav">
                    <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_dashboard' %}active{% endif %}">
                        <a href="{{ path('fantasy_sports_admin_dashboard') }}">
                            <i class="icol-dashboard"></i> Dashboard
                        </a>
                    </li>

                    <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_ranking_week' %}active{% endif %}">
                        <a href="{{ path('fantasy_sports_ranking_week') }}">
                            <i class="icol-table"></i> Tabla semanal
                        </a>
                    </li>

                    <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_ranking_general' %}active{% endif %}">
                        <a href="{{ path('fantasy_sports_ranking_general') }}">
                            <i class="icol-doc-excel-table"></i> Tabla general
                        </a>
                    </li>
                </ul>
            </li>

            <li class="{% if app.request.attributes.get('_route') in passRoutes %}active open{% endif %}">
                <span title="General">
                    <i class="icon-archive"></i>
                    <span class="nav-title">Pases</span>
                </span>

                <ul class="inner-nav">
                    <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_pass_add' %}active{% endif %}">
                        <a href="{{ path('fantasy_sports_admin_pass_add') }}">
                            <i class="icol-add"></i> Nuevo
                        </a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_pass_list' %}active{% endif %}">
                        <a href="{{ path('fantasy_sports_admin_pass_list') }}">
                            <i class="icol-color-swatch-1"></i> Todos
                        </a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_pass_active' %}active{% endif %}">
                        <a href="{{ path('fantasy_sports_admin_pass_active') }}">
                            <i class="icon-time"></i> Activos
                        </a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_pass_won' %}active{% endif %}">
                        <a href="{{ path('fantasy_sports_admin_pass_won') }}">
                            <i class="icol-accept"></i> Ganados
                        </a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_pass_lost' %}active{% endif %}">
                        <a href="{{ path('fantasy_sports_admin_pass_lost') }}">
                            <i class="icol-cross"></i> Perdidos
                        </a>
                    </li>
                </ul>
            </li>

            <li class="{% if app.request.attributes.get('_route') in transaciontRoutes %}active open{% endif %}">
                <span title="General">
                    <i class="icon-shopping-cart"></i>
                    <span class="nav-title">Transacc.</span>
                </span>

                <ul class="inner-nav">
                    <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_transaction_list' %}active{% endif %}">
                        <a href="{{ path('fantasy_sports_admin_transaction_list') }}">
                            <i class="icon-shopping-cart"></i> Todas
                        </a>
                    </li>

                    <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_coupon' %}active{% endif %}">
                        <a href="{{ path('fantasy_sports_admin_coupon') }}">
                            <i class="icol-counter"></i> Agregar cupón
                        </a>
                    </li>
                </ul>
            </li>

            <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_rules' %}active open{% endif %}">
                <span title="General">
                    <i class="icon-book"></i>
                    <span class="nav-title">Reglas</span>
                </span>

                <ul class="inner-nav">
                    <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_rules' %}active{% endif %}">
                        <a href="{{ path('fantasy_sports_admin_rules') }}">
                            <i class="icon-book"></i> Reglas
                        </a>
                    </li>
                </ul>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li class="{% if app.request.attributes.get('_route') in eventRoutes %}active open{% endif %}">
                    <span title="General">
                        <i class="icon-television"></i>
                        <span class="nav-title">Eventos</span>
                    </span>

                    <ul class="inner-nav">
                        <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_event_list' %}active{% endif %}">
                            <a href="{{ path('fantasy_sports_admin_event_list') }}">
                                <i class="icol-book-open"></i> Todos
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li class="{% if app.request.attributes.get('_route') in newsRoutes %}active open{% endif %}">
                    <span title="General">
                        <i class="icon-newspaper"></i>
                        <span class="nav-title">Noticias</span>
                    </span>

                    <ul class="inner-nav">
                        <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_news_list' %}active{% endif %}">
                            <a href="{{ path('fantasy_sports_admin_news_list') }}">
                                <i class="icol-book-open"></i> Todos
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li class="{% if app.request.attributes.get('_route') in userRoutes %}active open{% endif %}">
                    <span title="General">
                        <i class="icon-user"></i>
                        <span class="nav-title">Usuarios</span>
                    </span>

                    <ul class="inner-nav">
                        <li class="{% if app.request.attributes.get('_route') == 'fantasy_sports_admin_user_list' %}active{% endif %}">
                            <a href="{{ path('fantasy_sports_admin_user_list') }}">
                                <i class="icol-book-open"></i> Todos
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </nav>
</aside>