{% extends '::Admin/base.html.twig' %}

{% set pageTitle = 'Boleto' %}
{% set pageDescription = 'Nuevo boleto' %}
{% set userPoints = '1000' %}

{% set scriptsToLoad = ['pass.js'] %}

{% block breadcrumbs %}
    <li>
        <i class="icon-home"></i>El Villano Chelero
        <span class="divider">&raquo;</span>
    </li>
    <li>
        <a href="{{ path('fantasy_sports_admin_pass_list') }}">Pass</a>
    </li>
{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="span12 widget">
            <div class="widget-header">
                <span class="title"><i class="icon-tag"></i> Selecciona tus opciones</span>
            </div>
            <div class="widget-content form-container">
                <form class="vertical-form" action="{{ path('fantasy_sports_admin_pass_save') }}" method="POST">
                    <fieldset id="tipo-boleto">
                        <legend>Tipo de boleto</legend>
                        <div class="control-group">
                            <div class="controls">
                                <label class="radio"><input type="radio" value="1" name="pass-type" class="required uniform"> Quiniela</label>
                                <label class="radio"><input type="radio" value="2" name="pass-type" class="required uniform"> Marcador</label>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset style="display:none;" id="boleto-marcador" class="boleto">
                        <legend>Boleto por marcador</legend>
                        <div class="control-group">
                            <div class="controls">
                                <select id="input16" name="wizard[period]" class="required span12">
                                    {% if matches is defined %}
                                        {% for match in matches %}
                                            <option>
                                                {{ match.matchDate|date('D, d M Y @ H:i') }} - {{ match.homeTeam.name }} vs {{ match.awayTeam.name }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>

                                <br />
                                <br />

                                <div class="row-fluid">
                                    <div class="span4">
                                        <input type="text" placeholder="Local" style="text-align:center;">
                                    </div>
                                    <div class="span4" style="text-align:center;">
                                        vs
                                    </div>
                                    <div class="span4" style="text-align:right;">
                                        <input type="text" placeholder="Visitante" style="text-align:center;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset style="display:none;" id="boleto-quiniela" class="boleto">
                        <legend>Boleto por quiniela</legend>
                        <div class="control-group">
                            <div class="controls">
                                {% set fecha = "" %}
                                {% if matches is defined %}
                                    {% for match in matches %}
                                        {% if match.matchDate|date('Y-m-d') != fecha %}
                                            {% set fecha = match.matchDate|date('Y-m-d') %}
                                </div>
                                <label class="control-label" for="input16">
                                    <b>{{ match.matchDate|date('l, d F Y') }}</b>
                                </label>
                                <div class="controls">
                                    <div class="row-fluid">
                                        <div class="span3">
                                            &nbsp;
                                        </div>
                                        <div class="span3">
                                            Local
                                        </div>
                                        <div class="span3 center">
                                            Empate
                                        </div>
                                        <div class="span3">
                                            Visitante
                                        </div>
                                    </div>
                                        {% endif %}
                                        <div class="row-fluid">
                                            <div class="span3">
                                                {{ match.matchDate|date('H:i') }}
                                            </div>
                                            <div class="span3">
                                                <input type="radio" name="match[{{ match.id }}]" class="required uniform">
                                                {{ match.homeTeam.name }}
                                            </div>
                                            <div class="span3">
                                                <input type="radio" name="match[{{ match.id }}]" class="required uniform">
                                            </div>
                                            <div class="span3">
                                                <input type="radio" name="match[{{ match.id }}]" class="required uniform">
                                                {{ match.awayTeam.name }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Premio</legend>
                        <div class="control-group">
                            <div class="controls">
                                <select id="picklist-ex" name="picklist[]">
                                    <option>Botella</option>
                                    <option>Bomba Villana</option>
                                    <option>Revolver</option>
                                    <option>Perla Negra</option>
                                    <option>Satanás</option>
                                    <option>Venganza Villana</option>
                                </select>
                                <p class="help-block">Usa shift o control para seleccionar varios elementos</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input13">Puntos villanos</label>
                            <div class="controls">
                                <h1 id="pass-points">
                                    0
                                </h1>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            <button class="btn" type="reset">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}